.btn
    outline: none
    border: none
    cursor: pointer
    padding: 8rem 20rem
    border-radius: 100rem
    transition: .2s
    font-size: 15rem
    user-select: none

    @media (max-width: 768px)
        font-size: 10rem
        padding: 6rem 12rem

    &-primary
        //background-color: #327fef
        color: white
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1),0 2rem 14rem rgba(0, 0, 0, 0.1)
        background: linear-gradient(#3b84ee, #1c67d5)
        transition: background 0.3s ease-out
        background-size: 1rem 200rem

        &:hover
            background-color: #1c67d5
            background-position: 100rem

        &:disabled
            background: linear-gradient(#93baf3, #6c9de1)
            cursor: default

    &-purple
        //background-color: #327fef
        color: white
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1),0 2rem 14rem rgba(0, 0, 0, 0.1)
        background: linear-gradient(#8b00ff, #e025b4)
        transition: background 0.3s ease-out
        background-size: 1rem 200rem

        &:hover
            background-color: #8b00ff
            background-position: 100rem

        &:disabled
            background: linear-gradient(#be6dff, #ba72ff)
            cursor: default


    &-outline
        background-color: #fff
        border: 1px solid #070538
        color: #333333

        &:hover
            background-color: #ff4f4f


