.btn
    outline: none
    border: none
    cursor: pointer
    padding: 8rem 20rem
    border-radius: 5rem
    transition: .2s
    font-size: 15rem

    @media (max-width: 768px)
        font-size: 10rem
        padding: 6rem 12rem

    &-primary
        background-color: $blue
        color: white

        &:hover
            background-color: #3578bb

