@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap')

*
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif
    font-weight: 500

a
    text-decoration: none

body
    background-color: #f4f5f6

.container
    max-width: 1150rem
    margin-inline: auto
    padding: 0 15rem

input
    // round
    border-radius: 100rem
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.03),0 2rem 14rem rgba(0, 0, 0, 0.03)
    transition: .1s

    &:focus
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08),0 2rem 14rem rgba(0, 0, 0, 0.08)

header
    //background-color: $blue
    background-color: white
    padding: 15rem 0
    box-shadow: 0 0 4rem #cbcbcb
    margin-bottom: 10rem
    position: fixed
    left: 0
    right: 0
    z-index: 999999

    .header
        display: flex
        justify-content: space-between

        &-title
            font-size: 17rem
            color: $blue
            font-weight: 600
            letter-spacing: 1rem
            font-family: 'Roboto', sans-serif

            svg
                width: 20rem
                height: 20rem

main
    display: flex
    gap: 20rem
    position: relative
    top: 65rem

    .nav
        display: flex
        flex-direction: column
        width: 161rem
        position: relative
        left: -6rem

        @media (max-width: 768px)
            display: none

        &-item
            font-size: 14rem
            font-weight: 500
            display: flex
            align-items: center
            gap: 8rem
            color: #333333
            padding: 6rem
            transition: .2s
            border-radius: 5rem

            &:hover
                background-color: rgba(51, 51, 51, 0.11)

    .content
        width: 100%

    .profile
        border: 1rem solid #dce1e6
        width: calc(100% - 30rem)
        padding: 15rem
        border-radius: 10rem
        background-color: white
        margin-bottom: 20rem

        @media (max-width: 768px)
            padding: 15rem 5rem
            width: calc(100% - 10rem)


        &-top
            display: flex
            align-items: center
            gap: 20rem
            color: #333333 !important

            @media (max-width: 768px)
                justify-content: space-between
                width: 250rem
                gap: 0

            &-j
                display: flex
                justify-content: space-between
                align-items: center

                @media (max-width: 768px)
                    flex-direction: column

                    .btn
                        margin-top: 20rem

            &__b
                display: flex
                flex-direction: column
                gap: 15rem

                @media (max-width: 768px)
                    flex-direction: row

        &-name
            font-size: 18rem
            font-weight: 600
            display: flex
            align-items: center
            gap: 5rem

            @media (max-width: 768px)
                font-size: 12rem

        &-desc
            font-size: 14rem
            font-weight: 400

            @media (max-width: 768px)
                font-size: 12rem

        &-info
            margin-top: 10rem
            font-size: 14rem
            display: flex
            align-items: center
            gap: 5rem
            color: #333333 !important

            @media (max-width: 768px)
                font-size: 12rem

        .flex-info
            display: flex
            flex-direction: column
            gap: 4rem

            @media (max-width: 768px)
                width: 170rem

            .flex
                display: flex
                align-items: center
                gap: 10rem

                svg
                    width: 16rem
                    height: 16rem

                    @media (max-width: 768px)
                        width: 13rem
                        height: 13rem

        &-img
            width: 110rem
            height: 110rem
            border-radius: 50%
            object-fit: cover
            object-position: 50% 50%
            border: 1rem solid #dce1e6
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08),0 2rem 14rem rgba(0, 0, 0, 0.08)

            @media (max-width: 768px)
                width: 60rem
                height: 60rem

    .content
        &-flex
            width: 100%
            display: flex
            gap: 20rem
            align-items: flex-start

            @media (max-width: 768px)
                flex-direction: column

        &-main
            width: 100%

            @media (max-width: 768px)
                order: 2

        &-info
            width: 400rem
            display: flex
            flex-direction: column
            gap: 20rem

            @media (max-width: 768px)
                width: calc(100% - 0rem)

            &__title
                font-size: 14rem
                font-weight: 600
                color: #333333

                @media (max-width: 768px)
                    font-size: 13rem

            &__flex
                margin-top: 10rem
                display: flex
                transition: .3s
                gap: 10rem

            &__flex2
                margin-top: 10rem
                display: flex
                flex-direction: column
                justify-content: start
                gap: 8rem

            &__item2
                border: 1rem solid #dce1e6
                background-color: white
                border-radius: 10rem
                padding: 15rem

            &__item3
                display: flex
                align-items: center
                gap: 10rem

                img
                    width: 40rem
                    height: 40rem

                .content-info__item-title
                    color: #333333

            &__item
                display: flex
                flex-direction: column
                align-items: center
                color: black
                flex: 0 0 30%
                padding: 5rem 0
                transition: .2s
                border-radius: 5rem
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08),0 2rem 14rem rgba(0, 0, 0, 0.08)

                &:hover
                    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.13),0 2rem 14rem rgba(0, 0, 0, 0.13)

                &-img
                    border: 1rem solid #dce1e6
                    width: 60rem
                    height: 60rem
                    object-fit: cover
                    border-radius: 50%

                    @media (max-width: 768px)
                        width: 55rem
                        height: 55rem

                &-title
                    font-size: 13rem
                    margin-top: 3rem

    .input
        padding: 8rem 10rem
        border-radius: 10rem
        border: 1rem solid #dce1e6
        outline: none
        font-size: 13rem

        @media (max-width: 768px)
            font-size: 10rem

        &-news
            display: flex
            gap: 15rem
            align-items: flex-start

            input
                width: 100%

        &-div
            width: 100%

    .gallery
        margin-bottom: 30rem

        .title
            font-size: 14rem
            margin-bottom: 15rem
            color: #333333
            font-weight: 600

        &-img
            margin-top: 15rem

        &-img
            .img
                display: flex
                gap: 7rem
                border-radius: 0
                overflow: hidden

                img
                    width: 100%
                    margin-right: 4rem
                    height: 160rem
                    object-fit: cover
                    cursor: pointer
                    transition: .4s
                    border: 1px solid #dce1e6
                    border-radius: 5rem
                    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08),0 2rem 14rem rgba(0, 0, 0, 0.08)

                a
                    flex: 0 0 159rem
                    width: 100rem


    .posts
        margin-top: 30rem
        display: flex
        flex-direction: column
        gap: 20rem

        &-item
            background-color: white
            border: 1rem solid #dce1e6
            padding: 15rem
            border-radius: 10rem

            &__flex
                display: flex
                align-items: flex-start
                gap: 8rem

            &__title
                font-size: 15rem

                @media (max-width: 768px)
                    font-size: 12rem

            &__time
                font-size: 12rem
                margin-top: 2rem
                color: gray

                @media (max-width: 768px)
                    font-size: 10rem

            &__content
                font-size: 15rem
                margin-top: 10rem
                color: #333333

                @media (max-width: 768px)
                    font-size: 12rem

            &__img
                width: 35rem
                height: 35rem
                border-radius: 50%
                object-fit: cover
                border: 1rem solid #dce1e6

                @media (max-width: 768px)
                    width: 30rem
                    height: 30rem

    .like
        margin-top: 10rem
        background-color: rgba(51, 51, 51, 0.09)
        display: flex
        align-items: center
        max-width: 37rem
        height: 28rem
        text-align: center
        border-radius: 10rem
        cursor: pointer
        user-select: none
        font-size: 13rem
        justify-content: space-between
        padding: 0 10rem
        transition: 0.2s

        @media (max-width: 768px)
            height: 22rem
            padding: 0 7rem

        &_is
            background: rgba(255, 0, 0, 0.2)
            //box-shadow: 0 0 4rem rgba(255, 0, 0, 0.2)
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.17),0 2rem 14rem rgba(0, 0, 0, 0.17)
        //svg
        //    margin: auto

        &-count
            font-size: 15rem
            margin: auto

        &-flex
            margin-top: 10rem
            display: flex
            width: 70rem
            align-items: center
            justify-content: space-between

    .friends
        border: 1rem solid #dce1e6
        background: white
        padding: 15rem
        border-radius: 10rem

        .search
            display: flex
            align-items: center
            margin-top: 15rem
            gap: 15rem

        &-title
            font-size: 13rem
            color: #333333
            border: 1rem solid #dce1e6
            padding: 7rem 10rem
            border-radius: 5rem
            background-color: rgba(250, 250, 252, 0.33)

            &__active
                background-color: $blue
                color: white

            &__flex
                display: flex
                gap: 15rem


        &-input
            width: calc(100% - 25rem)
            //border-radius: 5rem
            border-radius: 100rem

        &-flex
            margin-top: 20rem
            display: flex
            flex-direction: column
            gap: 10rem

            &__item
                border-radius: 0
                border: none
                border-bottom: 1px solid #dce1e6
                width: 100%
                padding: 15rem 0
                margin-bottom: 0

                &:last-child
                    border: none

            &__2
                display: flex
                justify-content: space-between
                align-items: center
                border-bottom: 1px solid #dce1e6

    .chat
        border: 1rem solid #dce1e6
        background: white
        padding: 15rem
        border-radius: 10rem

        &-title
            font-size: 15rem
            color: #333333
            border-bottom: 1px solid #dce1e6
            padding-bottom: 15rem
            display: flex
            flex-direction: column

            a
                color: #333333
                display: flex
                align-items: center
                gap: 7rem

            &__time
                font-size: 11rem

        &-content
            height: 75vh
            display: flex
            flex-direction: column
            gap: 20rem
            padding: 15rem 0
            overflow-y: scroll

            @media (max-width: 768px)
                height: 69vh

            &::-webkit-scrollbar
                width: 0

        .messages
            &-input
                display: flex
                gap: 15rem
                border-top: 1px solid #dce1e6
                padding-top: 15rem

                .input
                    width: 100%
                    border-radius: 5rem

            &-item
                display: flex
                gap: 11rem
                align-items: flex-start
                border-radius: 5rem
                padding-inline: 3rem

                &:hover
                    background-color: rgba(51, 51, 51, 0.05)

                &__img
                    width: 40rem
                    height: 40rem
                    border-radius: 50%
                    border: 1px solid #dce1e6

                    img
                        width: 40rem
                        height: 40rem
                        border-radius: 50%
                        object-fit: cover

                &__name
                    font-size: 15rem
                    color: #333333

                &__mess
                    font-size: 13rem
                    color: #575757

                &__time
                    font-size: 12rem
                    color: gray
                    margin-left: 10rem

                &__body
                    margin-top: 3rem
                    font-size: 13rem
                    color: #333333

    .del-flex
        display: flex
        justify-content: space-between

    .del
        cursor: pointer

    .form
        max-width: 400rem
        margin: auto
        border: 1px solid #dce1e6
        background: white
        padding: 15rem
        border-radius: 10rem

        .link-3
            color: #333333

        &-title
            font-size: 20rem
            text-align: center
            margin-bottom: 15rem

        &-input
            display: flex
            gap: 16rem
            flex-direction: column

            &__item
                display: flex
                flex-direction: column
                font-size: 15rem
                gap: 5rem

            .link
                font-size: 15rem

            .error
                color: darkred

        .btn
            margin-top: 10rem

    .svg
        width: 18rem
        height: 18rem
        display: flex
        align-items: center

        @media (max-width: 768px)
            width: 15rem
            height: 15rem




.dropmenu
    position: fixed
    left: 0
    right: 0
    background: #ffffff
    z-index: 999999
    //box-shadow: 0 0 8rem gray
    border: 1rem solid #dce1e6
    top: 54rem
    padding: 13rem 0

@media (max-width: 768px)
    .nav
        display: flex
        flex-direction: column
        gap: 7rem

        .text
            font-size: 10rem
            color: #333333

        &-item
            display: flex
            gap: 10rem
            align-items: center

    .svg_mob_nav
        width: 13rem !important
        height: 13rem !important


.round
    width: 10rem
    height: 10rem
    background: gray
    border-radius: 100rem

    @media (max-width: 768px)
        width: 7rem
        height: 7rem

    &-green
        background: #13c930
        animation-name: round-green
        animation-duration: 1.5s
        animation-iteration-count: infinite

@keyframes round-green
    0%
        background: #13c930
    50%
        background: #158c0c
    100%
        background: #13c930


.dialog
    &_img
        position: absolute
        top: 0
        right: 0
        left: 0
        width: 100%
        z-index: 9999999

    &_time
        font-size: 13rem

    &_wrapper
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.5)
        z-index: 0
        opacity: 0

    &2
        position: relative
        height: 100%
        width: 100%
        border: 1rem solid #dce1e6
        border-radius: 7rem
        overflow: hidden

        @media (max-width: 768px)
            height: auto

    .name
        font-size: 15rem

    &_flex
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding-bottom: 10rem
        border-bottom: 1px solid #dce1e6

        &2
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 10rem

    .img
        display: flex
        justify-content: space-between
        gap: 20rem

        &-info
            width: 100%

        img
            object-fit: cover
            width: 800rem
            height: 100%
            border: 1px solid #dce1e6
            max-height: 600rem

            @media (max-width: 768px)
                width: 100%
                height: 100%
                margin-top: 10rem

.dialog-block
    display: block !important

    @media (max-width: 768px)
        top: 65rem
.none
    display: none !important
